.backgroundColor{
    -fx-background-color: linear-gradient(to right bottom, #494949 0%, #0b0c15 50%);
    -fx-background-radius: 10;
}

@font-face {
    font-family: 'HelvetiNeue';
    url('/fonts/HelveticaNeueBold.ttf');
}

.root {
    -fx-font-family: "HelvetiNeue";
}



.title {
    -fx-font-family: "HelvetiNeue";
}

.error {
    -fx-border-color: #ff4343;
    -fx-border-width: 2px;
    -fx-border-radius: 9px;
}

.text-area {
    -fx-background-radius: 9px;
}

.text-area .content{
    -fx-background-radius: 9px;
}

.top-bar {
    -fx-background-radius: 9px 9px 0px 0px;
    -fx-background-color: #252731;
}

.top-bar .buttons{
    -fx-background-radius: 6px;
    -fx-background-color: #CACEF2;
    -fx-font-family: "HelvetiNeue";
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.unchecked {
    -fx-background-radius: 9px;
    -fx-text-fill: #CACEF2;
    -fx-background-color: #252731;
}

.checked {
    -fx-background-radius: 9px;
    -fx-text-fill: #252731;
    -fx-background-color:  #CACEF2;
}
.checked:hover {
    -fx-border-color: #252731;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
}

.button_disabled {
    -fx-background-radius: 9px;
    -fx-background-color:  #CACEF2;
    -fx-opacity: 0.2;
    -fx-cursor: default;
}

.unchecked:hover {
    -fx-border-color: #CACEF2;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
}

.buttons{
    -fx-background-radius: 9px;
    -fx-background-color:  #CACEF2;
}

.active{
    -fx-background-radius: 9px;
    -fx-background-color:  #CACEF2;
}

.inactive{
    -fx-background-radius: 9px;
    -fx-text-fill: #CACEF2;
    -fx-background-color: #252731;
}

.inactive:hover{
    -fx-background-radius: 9px;
    -fx-background-color: #51566c;
}

.buttons:hover{
    -fx-background-radius: 9px;
    -fx-background-color: #8e95e3;
}

.sidebar{
    -fx-background-color: rgba(11, 12, 21, 0.38);
    -fx-border-color: rgba(202, 206, 242, 0.5);
    -fx-border-width: 0 1 0 0;
}